vti_encoding:SR|utf8-nl
vti_author:SR|jlam
vti_cachedlinkinfo:VX|
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_timecreated:TR|19 Aug 1999 14:29:55 -0400
vti_filesize:IX|138
vti_modifiedby:SR|jlam
vti_backlinkinfo:VX|sample1.htm
vti_cacheddtm:TX|19 Aug 1999 14:30:38 -0400
vti_cachedhasbots:BR|false
vti_nexttolasttimemodified:TR|18 Aug 1999 13:49:52 -0400
vti_extenderversion:SR|3.0.2.926
vti_timelastmodified:TR|18 Aug 1999 13:49:52 -0400
